<h3 class="well well-sm">About Us</h3>
	
<p>PC WareHouse started with the goal and ambition to be a One Stop Resource for all residential and commercial Computer Sales, Networking, Security System, Hardwares &amp; etc. </p>

<p>PC WareHouse offers affordable services with quality in mind. Imagine one company that can handle all your needs from Computer Buy to Computer Networking, and Internet Development to Security System. We strive to make day to day business operations more efficient. </p>

<p>We are associated with multinational giants like Intel, Microsoft, Novell, Cisco, Hewlett-Packard, IBM, Sony dealer & service provider to name a few. Truly it has been said Two heads are better than one.</p>