<h3 class="well well-sm">Contact Us</h3>
<aside class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body"> 
          
          <!--Roll No -->
          <div class="form-group">
            <label for="usr" class="col-lg-2 roll-no">Name</label>
            <div class="input-group col-lg-5"> <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="form1" placeholder="Enter Name" ng-pattern="[a-zA-Z]">
            </div>
          </div>
          
          <!--Name-->
          <div class="form-group">
            <label for="usr" class="col-lg-2 roll-no">Email</label>
            <div class="input-group col-lg-5"> <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
              <input type="email" required class="form-control" aria-describedby="basic-addon1" id="form2" placeholder="Enter Email">
            </div>
          </div>
          
          <!-- Subject -->
          <div class="form-group">
            <label for="usr" class="col-lg-2 roll-no">Phone</label>
            <div class="input-group col-lg-5"> <span class="input-group-addon glyphicon glyphicon-book" id="basic-addon1"></span>
              <input type="number" required class="form-control" aria-describedby="basic-addon1" id="form3" placeholder="Enter Phone">
            </div>
          </div>
          
          <!-- Subject -->
          <div class="form-group">
            <label for="usr" class="col-lg-2 roll-no">Company</label>
            <div class="input-group col-lg-5"> <span class="input-group-addon glyphicon glyphicon-book" id="basic-addon1"></span>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="form4" placeholder="Enter Company Name">
            </div>
          </div>
          
          <!-- Subject -->
          <div class="form-group">
            <label for="usr" class="col-lg-2 roll-no">Comments</label>
            <div class="input-group col-lg-5"> <span class="input-group-addon glyphicon glyphicon-book" id="basic-addon1"></span>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="form5" placeholder="Comments">
            </div>
          </div>
          
          <!-- Button -->
          <div class="form-group">
            <div class="input-group col-lg-5">
              <button type="button" class="btn btn-primary btn-lg" id="submit" onClick="showResult()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </aside>