<h3 class="well well-sm">Product Detail of {{finalDetail.poname}}</h3>

    <div class="thumbnail"><div class="image"><img src="{{finalDetail.img}}">
	  </div></div></th>
	  <table class="table table-striped detailTable" >
	  <tr><th>Product Name</th>
	  <th>{{finalDetail.poname}}</th>
	  </tr>
	  <tr>
	  <th>Brand Name</th>
	  <th>{{finalDetail.bname}}</th>
    </tr>
	  <tr>
      <th >Price</th>
	  <th>{{finalDetail.poprice}}</th>
	  </tr>
	  <tr>
	  <th>Features</th>
	  <th>{{finalDetail.feature}}</th>
    </tr>
    <tr>
	  <th>Technical-Detail</th>
	  <th>{{finalDetail.technical}}</th>
    </tr>
    <tr>
	  <th>OS</th>
	  <th>{{finalDetail.os}}</th>
    </tr>
  </table>
  